body{
  background: grey ;
  margin-top: 2em;
}

p{
  color:white;
}

.btn{
  margin-left:1em;
}

.jumbotron{
  background-color: white;
  position: relative;
}

.small{
  color: black;
}

#botton{
  position: absolute;
  width: 100%;
  height: 100%;
}